[icinga2]
type                = "db"
db                  = "mysql"
host                = "localhost"
port                = "3306"
dbname              = "{{ salt['pillar.get']('icinga2:schemas:icinga2:name') }}"
username            = "{{ salt['pillar.get']('icinga2:user_db_icinga2:name') }}"
password            = "{{ salt['pillar.get']('icinga2:user_db_icinga2:password') }}"


[icingaweb2]
type                = "db"
db                  = "mysql"
host                = "localhost"
port                = "3306"
dbname              = "{{ salt['pillar.get']('icinga2:schemas:icingaweb2:name') }}"
username            = "{{ salt['pillar.get']('icinga2:user_db_icingaweb2:name') }}"
password            = "{{ salt['pillar.get']('icinga2:user_db_icingaweb2:password') }}"


[director]
type                = "db"
db                  = "mysql"
host                = "localhost"
port                = "3306"
dbname              = "{{ salt['pillar.get']('icinga2:schemas:icinga2director:name') }}"
username            = "{{ salt['pillar.get']('icinga2:user_db_icinga2director:name') }}"
password            = "{{ salt['pillar.get']('icinga2:user_db_icinga2director:password') }}"

